	/* Set viewport meta tag for responsive behavior */
	@viewport {
		width: device-width;
		initial-scale: 1;
	}

	/* Typography styles */
	:root {
		--font-size-sm: clamp(0.8rem, 0.17vh + 0.76rem, 0.89rem);
		--font-size-base: clamp(1rem, 0.34vh + 0.91rem, 1.19rem);
		--font-size-md: clamp(1.25rem, 0.61vh + 1.1rem, 1.58rem);
		--font-size-lg: clamp(1.56rem, 1vh + 1.31rem, 2.11rem);
		--font-size-xl: clamp(1.95rem, 1.56vh + 1.56rem, 2.81rem);
		--font-size-xxl: clamp(2.44rem, 2.38vh + 1.85rem, 3.75rem);
		--font-size-xxxl: clamp(3.05rem, 3.54vh + 2.17rem, 5rem);
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: 'Calistoga', cursive;
		font-weight: 100%;
	}

	p, figcaption, blockquote, a {
		font-family: 'Montserrat', sans-serif;
	}

	/* Responsive Typography */
	h1 {
		font-size: var(--font-size-xxl);
	}

	h2 {
		font-size: var(--font-size-xl);
	}

	h3, blockquote {
		font-size: var(--font-size-lg);
	}

	h4 {
		font-size: var(--font-size-md);
	}

	h5, p {
		font-size: var(--font-size-base);
	}

	h6, small {
		font-size: var(--font-size-sm);
	}

	/* General Layout */
	body {
		background-color: green; /* Add your preferred background color */
		width: 100%;
		margin: 0; /* Reset default margin */
		padding: 0; /* Reset default padding */
	}

	.wrapper {
		width: 90%;
		margin: 0 auto;
		background-color: black;
		color: white;
		padding: 20px;
		box-sizing: border-box;
	}

	/* Header */
	header {
		background-color: black;
		color: white;
		text-align: center;
	}

	/* Navigation */
	nav {
		background-color: black;
		padding: 20px;
		margin: 0 auto;
		box-sizing: border-box;
	}

	nav ul {
		list-style: none;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 1em;
		margin: 0 auto;
	}

	nav ul li {
		margin-right: 3rem;
	}

	nav ul li:last-child {
		margin-right: 0;
	}

	nav a {
		text-decoration: underline;
		color: lightblue;
	}

	/* Main Content */
	.main-content {
		max-width: 75ch;
		padding: 20px;
		margin: 10px;
		background-color: black;
		color: white;
	}

	/* Sidebar */
	.additional-content-area {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 20px;
		margin: 10px;
		max-width: 75ch;
		color: white;
	}

	.sidebar {
		flex: 1;
		max-width: 100%;
		background-color: #f9f9f9;
		padding: 10px;
		border-radius: 8px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		margin-bottom: 20px;
	}

	.sidebar h2 {
		color: #333;
		font-size: 1.5rem;
		margin-bottom: 16px;
	}

	.sidebar ul {
		list-style-type: none;
		padding: 0;
	}

	.sidebar ul li {
		padding: 8px 0;
	}

	.sidebar ul li a {
		color: #0066cc;
		text-decoration: none;
		font-size: 1.1rem;
		transition: color 0.3s;
	}

	.sidebar ul li a:hover {
		color: #ff6600;
		text-decoration: underline;
	}

	/* Gallery */
	.gallery {
		flex: 2;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		gap: 5px;
	}

	.gallery img {
		max-width: 100%;
		height: auto; /* Maintain aspect ratio */
	}

	/* Footer */
	footer {
		background-color: grey;
		padding: 20px 0;
		text-align: center;
		position: relative;
	}

	.footer-content {
		border-bottom: 2px solid #ddd;
		padding-bottom: 40px;
	}

	footer p {
		position: absolute;
		bottom: -25px;
		left: 50%;
		transform: translateX(-50%);
		width: calc(100% - 40px);
		background-color: chocolate;
		color: #333;
		padding: 10px 20px;
		margin: 0;
		font-size: 0.9rem;
		border: 1px solid #dddd;
		border-radius: 8px;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	}

	/* Media Queries */
	@media only screen and (max-width: 768px) {
		nav ul {
			flex-direction: column;
			align-items: center;
		}

		nav ul li {
			margin-right: 0;
			margin-bottom: 1rem;
		}

		.gallery {
			grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
		}
	}

	/* Responsive images */
	@media screen and (min-width: 48rem) {
		.grid-container {
			display: grid;
			grid-template-areas:
				"header header header header header"
				"nav nav nav nav nav"
				"feature feature feature feature feature"
				"main main main main main"
				"side side side side side"
				"footer footer footer footer footer";
			grid-template-columns: repeat(5, 1fr);
			grid-gap: 1rem;
			width: clamp(20rem, 10vw - 6rem, 75rem);
			margin: 0 auto;
			padding: 0 3rem;
			background-color: gold;
		}

		img {
			width: 100%;
		}
	}

